version: 3
images:
  base_image:
    name: registry.fedoraproject.org/fedora:42
dependencies:
  python_interpreter:
    package_system: python3.13
    python_path: /usr/bin/python3.13
  ansible_core:
    package_pip: ansible-core==2.20.0
  ansible_runner:
    package_pip: ansible-runner
  system: bindep.txt
  python: requirements.txt
  galaxy: requirements.yml
